body{
  background-color: rgb(22, 49, 76);
  color:#a099e1;
}
main{
  width: 300px;
  margin: 50px auto 0;
}
div.board{
  display: grid;
  border: 2px solid #fff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
div.square{
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
}
div.result{
  font-size: 2rem;
  padding: 10px;
}
div.result.green{
  background-color: rgb(30, 108, 30);
}
div.result.red{
  background-color: rgb(55, 74, 142);
}

.highlight {
  color: rgb(199, 73, 73);
  /* Change this to your desired color */
}